/* Style Sheet */

* {
		padding: 0;
		margin: 0;
		font-family: 'Titillium Web', sans-serif;
}

.backToTop {
		width:100px;
		height:130px;
		padding:10px;
		text-align:center;
		background: whiteSmoke;
		font-weight: bold;
		color: #444;
		text-decoration: none;
		position:fixed;
		top:75px;
		right:10px;
		display:none;
		background: url('ToTop.png') no-repeat 0px 20px;
}

.backToTop {
		text-decoration:none;
}

.clearfix {
		overflow: auto;
}

.education-entry, .work-entry, .project-entry {
		padding-left: 5%;
		padding-right: 5%;
}

h1 {
  	font-size: 40px;
  	color: #f5a623;
  	line-height: 48px;
  	display: inline;
  	font-family: 'Lemonada', sans-serif;
}

.employer, .projectName, .school {
    font-size: 1.25em;
    font-weight: bold;
}

h2 {
		font-weight: bold;
		font-size: 24px;
		color: #404040;
		line-height: 29px;
		padding: 3%;
		font-family: 'Lemonada', sans-serif;
}

h3 {
		font-style: italic;
		font-weight: bold;
		font-size: 22px;
		color: #000000;
		line-height: 22px;
}

h4 {
		font-weight: bold;
		font-size: 14px;
		color: #4a4a4a;
		line-height: 17px;
}

h2, h3, h4, h5 {
		padding:10px;
		padding-left: 5%;
		padding-right: 5%;
}

.date-text {
		font-style: italic;
		font-size: 1.15em;
		color: #737373;
		line-height: 16px;
  /*float: left;*/
}

.location-text {
		font-style: italic;
		font-size: 14px;
		color: #999999;
		line-height: 16px;
		float: right;
}

p {
		font-size: 14px;
		color: #333333;
		line-height: 21px;
}

a {
		color: #1199c3;
		text-decoration: none;
		margin-top: 10px;
		display: block;
		font-weight: bold;
		font-size: 20px;
}

.welcome-message {
		font-style: italic;
		font-size: 18px;
		color: #f3f3f3;
		line-height: 28px;
}

#skillsH3 {
		color: #f5AE23;
		display: none;
}

.flexItem  {
		list-style: none;
    /* list-style: square url("arrow.png"); */
}

.orange {
		background-color: #F5AE23;
}

.orange-text {
		color: #F5AE23;
}

.white-text {
		font-weight: bold;
		color: #FFFFFF;
}

.gray {
		background-color: aliceblue;
		padding-bottom: 10px;
		clear: both;
}

.dark-gray {
		background-color: #0077b3;
}

/* TODO: Replace with image later */
#header {
		background-color: #0077b3;
}

.flex-box {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 10px;
		list-style-type: none;
}

.center-content {
		padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}

#topContacts {
    list-style-type: none;
}

img {
		padding: 10px;
}

.biopic {
		float: left;
		padding: 10px 20px;
		width: 200px;
		display: none;
}

#projects {
    background-color: floralwhite;
}

#online {
    color: #262626;
	padding-top: 3%;
}

.warning {
    color: lawngreen;
}

span {
		padding: 5px;
}

#letsConnect {
		text-align: center;
}

#map {
    display: block;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (max-width: 1024px) {
	#lets-connect {
		margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
	.biopic {
		width: 175px;
  }
}

@media only screen and (max-width: 750px) {
	#letsConnect {
		margin-top: 10%;
  }
	.biopic {
		width: 150px;
  }
	.welcome-message {
		display: none;
  }
}

@media only screen and (min-width: 750px) {
	#skillsH3, .biopic {
		display: block;
  }
}
